body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('background image.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.background {
  /*background will be 1600x900 so that will also be the window size limit*/

}
.title, .addDancerButton, .makeALine, .letsDoTheSplits{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  border-radius:10px;
  position:absolute;
}
.blinkyDancer {
  background: url('pacman.png');
  height: 5em;
  width: 5em;
  background-size: 100% 100%
  border: 1px solid white;
  background-size: contain;
  
}

.veggies {
  background: url('yoshiegg.png') no-repeat 0 0;
  height: 5em;
  width: 5em;
  background-size: 100% 100%
  border: 1px solid white;
  background-size: contain;
  animation: bounce 1s infinite;
}

.marioMushroom {
  background: url('Mushroom.png') no-repeat 0 0;
  height: 5em;
  width: 5em;
  background-size: 100% 100%
  border: 1px solid white;
  background-size: contain;
}

.relative {
  width: 1000px;
  position: relative;
}

.bounce {
  position: absolute;
  top: 0;
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes bounce {
  0% { margin-top: 9em;  height: 4.5em; }
  10% { height: 4em }
  15% { height: 4.5em }
  50% { margin-top: 0em; height: 4.5em;}
  100% { margin-top: 9em; height: 4.5em; }
  }



.rotation {
  animation: rotation: 2s 2 linear;
  -webkit-animation: rotation 2s 2 linear;
  height: 5em;
  width: 5em;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
